__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

.venv/
venv/
ENV/
env/

poetry.lock

.ipynb_checkpoints/

data/log_file.log

model/*.pkl
model/*.joblib

Thumbs.db
.idea/
.vscode/
*.swp
*.swo